<%= form_for(@customer_feedback) do |f| %>
  <% if @customer_feedback.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer_feedback.errors.count, "error") %> prohibited this menu item from being saved:</h2>

      <ul>
      <% @customer_feedback.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </div>

  <div class="field">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
  </div>

  <div class="field">
    <%= f.label :subject %><br>
    <%= f.text_field :subject %>
  </div>

  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>

  <div class="field">
    <%= f.label :email_address %><br>
    <%= f.text_field :email_address %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %> 
